/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
*::before ,*::after{
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    font-size: 16px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 32px;
}
/* header */
.header{
    padding: 16px 0;
    background-color:#222946;
}
.flex{
    display:flex;
    justify-content:space-between;
    /* flex-wrap: wrap; */
    align-items: center;
}
.nav{
    vertical-align:middle;
}
.nav a{
    color: #fff;
    font-size:24px;
    text-decoration: none;
    margin-left:32px;
}
.nav .green{
    color:#57B568;
    font-size:24px;
    text-decoration: none;
    margin-left:32px;
}
.heading{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding:24px 0;
    color: #683535;
}
.flex-l{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    margin: 10px;
}
.img{
    width: 300px;
    margin: 20px;
}
/* footer */
.footer{
    background-color: #222946;
    padding: 26px 0;
}
small{
    font-size:20px;
    font-weight: 600;
    color: #fff;

}
.footer-flex{
    display:flex;
    justify-content:space-between;
}
.nav-li i{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}